html {
  height: 100%;
  -webkit-touch-callout: none;
}

body {
  margin: 0;
  height: 100%;
}

/* width */

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rebeccapurple;
}

/* Handle Hover */

::-webkit-scrollbar-thumb:hover {
  background: rebeccapurple;
}
